.global_header {
  display: flex;
  align-items: center;
}
.global_header > *:not( .flex-separator ) {
  flex-basis: 0;
  margin: 10px;
}
.global_header-logo {
  display: flex;
  align-items: center;
  min-width: max-content;
}
.global_header-logo:hover .global_header-logo-title {
  color: var( --blue );
}
.global_header-logo-avatar {
  width: 100px;
}
.global_header-nav {
  display: flex;
}
.global_header-logo-title {
  margin: 0;
  margin-left: 20px;
}
.global_header-nav-item {
  flex-wrap: 1;
  width: max-content;
  margin: 10px;
}